<h4><span><%= Spree.t(:restoremail_title) %></span></h4>
<p class="overview">
  <%= Spree.t(:restoremail_overview) %>
</p>
<p class="link">
  <%= Spree.t(:restoremail_link) %>
  <br>
  </br>
  <%= link_to @edit_password_reset_url, @edit_password_reset_url %>
</p>
<p>
  <%= Spree.t(:restoremail_footer) %>
</p>