<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
<head>
  <meta name="facebook-domain-verification" content="ddup3xkdnsh6fncr0lbj1pfr7tt2lb" />
  <title><%= title %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= render partial: 'spree/shared/head' %>
   <!-- Google Tag Manager -->
  <% if @tag_manager and @tag_manager.active %>
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','<%= @tag_manager.tag_manager_id %>');
    </script>
  <%end%>
  <!-- End Google Tag Manager -->
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <%if @tag_manager and @tag_manager.active %>
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=<%= @tag_manager.tag_manager_id %>"
              height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
  <%end%>
  <!-- End Google Tag Manager (noscript) -->
  <%# render partial: 'spree/shared/google_analytics.js' %>   
  <%= render partial: 'spree/layouts/flash_messages' %>
  <%= render 'spree/shared/loader' %>  
  <div class="container-fluid no-padding">
    <div class="row">
      <div class="col-xs-12">
        <div id="logo" class="text-center" data-hook>
          <a href="<%= spree.root_path%>">
            <%= image_tag('logo/logo.png', alt: 'Logo', class: 'customer-logo')%>
          </a> 
        </div>
      </div>
    </div>
    <%= yield %>
  </div>

</body>
</html>